.section-anticipation .animate-button.play, .section-anticipation .animate-button.stop {
  outline: none;
}

.section-anticipation .animate-button.play:hover, .section-anticipation .animate-button.stop:hover {
  font-weight: bold;
}

.section-anticipation .animate-button.play:active, .section-anticipation .animate-button.stop:active {
  border-radius: 30px;
  border-width: 5px;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.section-anticipation .animate-button.play:hover {
  border-radius: 15px;
}

.section-anticipation .animate-button.play:active {
  -webkit-box-shadow: 0 0 20px 0px #656be8;
          box-shadow: 0 0 20px 0px #656be8;
}

.section-anticipation .animate-button.stop:hover {
  border-radius: 15px;
}

.section-anticipation .animate-button.stop:active {
  -webkit-box-shadow: 0 0 20px 0px #ffcea3;
          box-shadow: 0 0 20px 0px #ffcea3;
}

.section-anticipation .animating-box {
  left: 10%;
  top: 200px;
  border: none;
  width: 180px;
  height: 100px;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.section-anticipation .animating-box.animate {
  -webkit-animation: anticipation 6s linear infinite;
          animation: anticipation 6s linear infinite;
}

@-webkit-keyframes anticipation {
  0%, 56% {
    -webkit-transform: skewX(0deg);
            transform: skewX(0deg);
  }
  4% {
    -webkit-transform: translateX(-60px) skewX(20deg);
            transform: translateX(-60px) skewX(20deg);
  }
  20% {
    -webkit-transform: translateX(850px) skewX(20deg);
            transform: translateX(850px) skewX(20deg);
  }
  23%, 40% {
    -webkit-transform: translateX(880px) skewX(0deg);
            transform: translateX(880px) skewX(0deg);
  }
}

@keyframes anticipation {
  0%, 56% {
    -webkit-transform: skewX(0deg);
            transform: skewX(0deg);
  }
  4% {
    -webkit-transform: translateX(-60px) skewX(20deg);
            transform: translateX(-60px) skewX(20deg);
  }
  20% {
    -webkit-transform: translateX(850px) skewX(20deg);
            transform: translateX(850px) skewX(20deg);
  }
  23%, 40% {
    -webkit-transform: translateX(880px) skewX(0deg);
            transform: translateX(880px) skewX(0deg);
  }
}
