@import "_variables";

.section-anticipation {
  .animate-button {

    &.play,
    &.stop {
      outline: none;
    }

    &.play:hover,
    &.stop:hover {
      font-weight: bold;
    }

    &.play:active,
    &.stop:active {
      border-radius: 30px;
      border-width: 5px;
      transform: scale(0.9);
    }

    &.play:hover {
      border-radius: 15px;
    }

    &.play:active {
      box-shadow: 0 0 20px 0px $stop-button;
    }

    &.stop:hover {
      border-radius: 15px;
    }

    &.stop:active {
      box-shadow: 0 0 20px 0px $play-button;
    }
  }

  .animating-box {
    left: 10%;
    top: 200px;
    border: none;
    width: 180px;
    height: 100px;
    outline: none;
    box-shadow: none;


    &.animate {
      animation: anticipation 6s linear infinite;

      @keyframes anticipation {
        0% {
          transform: skewX(0deg);
        }

        4% {
          transform: translateX(-60px) skewX(20deg);
        }

        20% {
          transform: translateX(850px) skewX(20deg);
        }

        23%, 40% {
          transform: translateX(880px) skewX(0deg);
        }

        56% {
          transform: translateX(0px);
        }

        // 100% {
        //   transform: translateY(400px);
        // }
      }
    }
  }
}