.section-staging .play:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.section-staging .play:active {
  -webkit-box-shadow: 0 0 20px 0px #656be8;
          box-shadow: 0 0 20px 0px #656be8;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.section-staging .stop:hover {
  -webkit-transform: scaleY(0.9);
          transform: scaleY(0.9);
}

.section-staging .stop:active {
  -webkit-box-shadow: 0 0 20px 0px #ffcea3;
          box-shadow: 0 0 20px 0px #ffcea3;
  -webkit-transform: scaleX(1.1);
          transform: scaleX(1.1);
}

.section-staging .animating-box:nth-child(1) {
  top: 37%;
  left: 25%;
}

.section-staging .animating-box:nth-child(2) {
  top: 60%;
  left: 35%;
}

.section-staging .animating-box:nth-child(3) {
  top: 80%;
  left: 10%;
}

.section-staging .animating-box:nth-child(4) {
  top: 70%;
  left: 23%;
}

.section-staging .animating-box:nth-child(5) {
  top: 30%;
  left: 10%;
}

.section-staging .animating-box:nth-child(6) {
  top: 56%;
  left: 5%;
}

.section-staging .animating-box.blur {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.section-staging .animating-box.animate {
  -webkit-filter: none;
          filter: none;
  -webkit-animation: stagingAnimation linear 4s infinite;
          animation: stagingAnimation linear 4s infinite;
}

@-webkit-keyframes stagingAnimation {
  0%, 20% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  25%, 45% {
    -webkit-transform: rotateZ(15deg);
            transform: rotateZ(15deg);
  }
  35%, 55% {
    -webkit-transform: rotateZ(-15deg);
            transform: rotateZ(-15deg);
  }
  40%, 60% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

@keyframes stagingAnimation {
  0%, 20% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  25%, 45% {
    -webkit-transform: rotateZ(15deg);
            transform: rotateZ(15deg);
  }
  35%, 55% {
    -webkit-transform: rotateZ(-15deg);
            transform: rotateZ(-15deg);
  }
  40%, 60% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}
