@import './variables';

.section-staging {

  .play:hover {
    transform: scale(0.9);

  }

  .play:active {
    box-shadow: 0 0 20px 0px $stop-button;
    transform: scale(1.1);
  }

  .stop:hover {
    transform: scaleY(0.9);
  }

  .stop:active {
    box-shadow: 0 0 20px 0px $play-button;
    transform: scaleX(1.1);
  }

  .animating-box {

    &:nth-child(1) {
      top: 37%;
      left: 25%;
    }

    &:nth-child(2) {
      top: 60%;
      left: 35%;
    }

    &:nth-child(3) {
      top: 80%;
      left: 10%;
    }

    &:nth-child(4) {
      top: 70%;
      left: 23%;
    }

    &:nth-child(5) {
      top: 30%;
      left: 10%;
    }

    &:nth-child(6) {
      top: 56%;
      left: 5%;
    }

    &.blur {
      filter: blur(5px);
    }

    &.animate {
      filter: none;
      animation: stagingAnimation linear 4s infinite;

      @keyframes stagingAnimation {
        0%, 20% {
          transform: rotateZ(0deg);
        }

        25%, 45% {
          transform: rotateZ(15deg);
        }

        35%, 55% {
          transform: rotateZ(-15deg);
        }

        40%, 60% {
          transform: rotateZ(0deg);
        }
      }
    }
  }
}