@import './variables';


body {
  font-size: 16px;
}

.alternating-background {
  padding: 100px 0;
  background-color: #e3e8ff;
}

.alternating-background:nth-child(even) {
  background-color: #fcf2ea;
}

.section-heading {
  font-size: 3.5rem;
  font-weight: bold;
  text-align: center;
}

.session-content-list {
  li {
    font-size: 2rem;
    padding: 5px 0;
  }
}

.inspiration-source-material {
  img {
    width: 50%;
    max-width: 600px;
    min-width: 320px;
  }
}

.rule-description {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 50px;
}

.animation-container {
  margin: 40px;
  height: 700px;
  position: relative;
  border: 2px solid $black;
}

.animate-button {
  width: 150px;
  height: 70px;
  outline: none;
  margin: 0 40px;
  font-size: 1.7em;
  border-radius: 5px;
  border-color: $black;
  transition: all ease-out 0.1s;

  &.play {
    color: $black;
    background-color: $play-button;
  }

  &.stop {
    margin: 0;
    color: white;
    background-color: $stop-button;
  }
}

.animating-box {
  bottom: 0;
  left: 45%;
  width: 120px;
  height: 80px;
  border: none;
  outline: none;
  position: absolute;
  background-color: $animating-box;
}