body {
  font-size: 16px;
}

.alternating-background {
  background-color: #e3e8ff;
  padding: 100px 0;
}

.alternating-background:nth-child(even) {
  background-color: #fff0e3;
}

.section-heading {
  text-align: center;
  font-size: 3.5rem;
  font-weight: bold;
}

.session-content-list li {
  font-size: 2rem;
  padding: 5px 0;
}

.inspiration-source-material img {
  width: 50%;
  max-width: 600px;
  min-width: 320px;
}

.rule-description {
  font-size: 1.5em;
  text-align: center;
}

.animation-container {
  padding: 40px;
}

.animate-button {
  margin: 40px;
}
