body {
  font-size: 16px;
}

.alternating-background {
  padding: 100px 0;
  background-color: #e3e8ff;
}

.alternating-background:nth-child(even) {
  background-color: #fcf2ea;
}

.section-heading {
  font-size: 3.5rem;
  font-weight: bold;
  text-align: center;
}

.session-content-list li {
  font-size: 2rem;
  padding: 5px 0;
}

.inspiration-source-material img {
  width: 50%;
  max-width: 600px;
  min-width: 320px;
}

.rule-description {
  font-size: 1.5em;
  text-align: center;
}

.animation-container {
  margin: 40px;
  height: 700px;
  position: relative;
  border: 2px solid #1d2124;
}

.animate-button {
  width: 150px;
  height: 70px;
  margin: 0 40px;
  font-size: 1.7em;
  border-radius: 5px;
  border-color: #1d2124;
}

.animate-button.play {
  color: #1d2124;
  background-color: #ffcea3;
}

.animate-button.stop {
  margin: 0;
  color: white;
  background-color: #656be8;
}

.animating-box {
  top: 70%;
  left: 50%;
  width: 120px;
  height: 80px;
  position: absolute;
  background-color: #656be8;
}
