@import './variables';

.section-staging {

  .rule-description {
    span:hover {
      display: inline-block;
      cursor: pointer;
      animation: lookAndFeel 0.8s linear infinite;
      
    }

    @keyframes lookAndFeel {
      0%, 100% {
        transform: rotate(0deg) scale(1);
      }
      50% {
        transform: rotate(15deg) scale(1.1);
      }
    }
  }

  .play:hover {
    transform: scale(0.9);

  }

  .play:active {
    box-shadow: 0 0 20px 0px $stop-button;
    transform: scale(1.1);
  }

  .stop:hover {
    transform: scaleY(0.9);
  }

  .stop:active {
    box-shadow: 0 0 20px 0px $play-button;
    transform: scaleX(1.1);
  }

  .animating-box {
    transition: box-shadow 0.2s;

    &:nth-child(1) {
      top: 17%;
      left: 40%;
    }

    &:nth-child(2) {
      top: 45%;
      left: 55%;
    }

    &:nth-child(3) {
      top: 80%;
      left: 10%;
    }

    &:nth-child(4) {
      top: 70%;
      left: 33%;
    }

    &:nth-child(5) {
      top: 30%;
      left: 20%;
    }

    &:nth-child(6) {
      top: 56%;
      left: 5%;
    }

    &.blur {
      filter: blur(5px);
    }

    &.animate {
      filter: none;
      animation: stagingAnimation linear 4s infinite;
      box-shadow: 0px 0px 40px 15px $play-button;

      @keyframes stagingAnimation {
        0%, 20% {
          transform: rotateZ(0deg);
        }

        25%, 45% {
          transform: rotateZ(15deg);
        }

        35%, 55% {
          transform: rotateZ(-15deg);
        }

        40%, 60% {
          transform: rotateZ(0deg);
        }
      }
    }
  }
}