@import './variables';
@import '~bootstrap/scss/bootstrap';
@import './avatar_waleed_face.scss';

body {
  font-size: 16px;
}

.navigation-controls {
  top: 3%;
  position: fixed;
  z-index: 10000;
  opacity: 0;
  border: none;
  outline: none;
  background: none;

  img {
    width: 40px;
    height:  20px;
  }

  &.next-slide {
    right: 120px;
  }

  &.prev-slide {
    right: 180px;
  }

  &:hover {
    opacity: 1;
  }

  &:focus {
    border: none;
    outline: none;
  }
}

.section-heading {
  font-size: 3.5rem;
  font-weight: bold;
  text-align: center;
}

.session-content-list {
  li {
    font-size: 2rem;
    padding: 5px 0;
  }
}

.alternating-background {
  padding: 100px;
  width: 90vw;
  height: 100vh;

  &:nth-child(odd) {
    background: linear-gradient(0deg, #f7f7f7, #bdd7d9);
  }

  &:nth-child(even) {
    background: linear-gradient(0deg, #bdd7d9, #f7f7f7);
  }

}

.welcome-slide {
  $rotation-angle: 10deg;

  .title-welcome {
    font-size: 2.5em;
  }
  
  .topic {
    margin-top: 200px;
    font-size: 3em;
    animation: anim-topic 3s ease-in-out infinite alternate-reverse;
  
  }
  
  @keyframes anim-topic {
    from {
      transform: rotateZ(-$rotation-angle);
    }
    to {
      transform: rotateZ($rotation-angle);
    }
  }
  
  .sub-topic {
    font-size: 2em;
    margin-top: 50px;
    animation: anim-subtopic 3s ease-in-out infinite alternate-reverse;
  }
  
  @keyframes anim-subtopic {
    from {
      transform: rotateZ($rotation-angle);
    }
    to {
      transform: rotateZ(-$rotation-angle);
    }
  }
}


.about-me {
  img {
    width: 400px;
    height: 400px;

    &.profile-picture {
      box-shadow: 0px 0px 70px 0px;
    }
  }


  ul {
    list-style: none;
    text-align: left;
  }

  li {
    font-size: 2em;
    display: none;

    &.meme {
      position: absolute;

      &:nth-child(10) {
        top: 0px;
        left: 50px;

        img {
          width: 500px;
        }
      }

      &:nth-child(11) {
        top: 400px;
        left: 500px;
        
        img {
          width: 340px;
        }
      }

      &:nth-child(12) {
        top: -160px;
        left: 550px;
      }

      &:nth-child(13) {
        top: -235px;
        left: 0px;
      }

      &:nth-child(14) {
        top: 270px;
        left: -50px;
      }

      &:nth-child(15) {
        top: -190px;
        left: 200px;
      }
    }
    
    &.show {
      display: block;
    }
  }
}

.inspiration-source-material {
  img {
    width: 65%;
    max-width: 700px;
    min-width: 320px;
    height: 80%;

    &.meme {
      top: 400px;
      right: 30px;
      width: 530px;
      height: 340px;
      display: none;
      position: absolute;
      transform: rotate(15deg);

      &.show {
        display: block;
      }
    }

  }

}

.rule-description {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 50px;
}

.animation-container {
  margin: 40px;
  height: 600px;
  position: relative;
  border: 2px solid $black;
}

.animate-button {
  width: 150px;
  height: 70px;
  outline: none;
  margin: 0 40px;
  font-size: 1.7em;
  border-radius: 5px;
  border-color: $black;
  transition: all ease-out 0.1s;

  &.play {
    color: $black;
    background-color: $play-button;
  }

  &.stop {
    margin: 0;
    color: white;
    background-color: $stop-button;
    background: linear-gradient(#656bd8, $stop-button);
  }
}

.animating-box {
  bottom: 0;
  left: 45%;
  width: 120px;
  height: 80px;
  border: none;
  outline: none;
  position: absolute;
  background-color: $animating-box;
}

