@import './variables';


.section-squash-and-stretch {
  .animate-button {

    &.play:hover {
      box-shadow: 0 0 20px 0px $stop-button;
      transform: scale(1.1);
    }

    &.play:active {
      transform: scale(0.9);
    }

    &.stop:hover {
      box-shadow: 0 0 20px 0px $play-button;
      transform: scaleX(1.1);
    }

    &.stop:active {
      transform: scaleY(0.9);
    }
  }

  .animating-box.animate {
    animation: squashStretch 3s ease-in-out infinite;
  }

  @keyframes squashStretch {

    0%,
    46% {
      transform: scaleX(1);
      height: 80px;
      bottom: 0px;
    }

    10%,
    35% {
      transform: scaleX(1.8);
      bottom: 0px;
      height: 40px;
    }

    20% {
      transform: scaleX(0.3);
      height: 120px;
    }

    23% {
      bottom: 450px;
    }

    30% {
      bottom: 60px;
      height: 120px;
      transform: scaleX(0.3);
    }
  }
}